@import "../../variables";

.ServicesMain {
  width: 75%;
  margin: 5rem 12.5%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;

  > .Services {
    width: 100%;

    h2 {
      font-size: 5rem;
      text-align: center;
    }

    .ServiceWrapper {
      width: 100%;

      margin-top: 2rem;
    }
  }
}
