@import "../../variables";

.ServicesMain {
  width: 75%;
  margin: 5rem 12.5%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;

  > .Services {
    width: 100%;

    > h2 {
      font-size: 5rem;
      text-align: center;
    }

    .ServiceWrapper {
      width: 100%;

      margin-top: 2rem;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 3rem;

      .Service {
        max-width: 350px;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;

        padding: 2rem;
        border-radius: 1rem;

        background-color: rgba($darkGreen, 0.05);

        text-align: center;

        .ServiceIcon {
          width: 4rem;
          height: 4rem;

          color: $gold;
        }
      }
    }
  }
}
