---
import Header from "../components/header/header"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Signature Health | Home</title>
		<link rel="stylesheet" href="/global.scss">
	</head>
	<body>
        <Header />
    </body>
</html>
