@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

body,
html {
  margin: 0;
  padding: 0;

  background-color: #fefefe;

  color: #001b21;

  font-family: "EB Garamond", serif;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
