@import "../../variables";

.Header {
  width: 100%;
  height: 75lvh;

  background: rgb(0, 22, 29);
  background: linear-gradient(
    315deg,
    rgba(0, 22, 29, 1) 0%,
    rgba(32, 83, 89, 1) 50%
  );

  position: relative;

  > .Header__Wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;

    font-family: "Domine", serif;

    > * {
      color: $gold;
      text-shadow: 10px 10px 20px black;
    }

    > h1 {
      font-size: 12rem;
    }

    > h2 {
      font-size: 5rem;
    }
  }

  > .OurTeam {
    position: absolute;
    bottom: 2rem;
    right: 2rem;

    display: flex;
    gap: 2rem;

    a {
      color: $gold;

      color: white;

      font-family: "Domine", serif;

      text-decoration: none;

      border: 0.2rem solid white;
      border-radius: 0.5rem;

      padding: 0.5rem 1rem;

      transition: 0.3s ease-in-out;

      &:hover {
        color: $gold;

        border: 0.2rem solid $gold;
      }
    }
  }
}
