@import "../../variables";

.Header {
  width: 100vw;
  height: 75lvh;

  background: rgb(0, 22, 29);
  background: linear-gradient(
    315deg,
    rgba(0, 22, 29, 1) 0%,
    rgba(32, 83, 89, 1) 50%
  );

  position: relative;

  > .Header__Wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;

    font-family: "Domine", serif;

    > * {
      color: $gold;
      text-shadow: 10px 10px 20px black;
    }

    > h1 {
      font-size: 12rem;
    }

    > h2 {
      font-size: 5rem;
    }
  }
}
