@import "../../variables";

@font-face {
  src: url("../../../public/fonts/BookAntiqua.ttf");
  font-family: bookAntiqua;
}

.Header {
  width: 100%;
  height: 75lvh;

  background: rgb(0, 21, 29);
  background: linear-gradient(
    320deg,
    rgba(0, 21, 29, 1) 0%,
    rgba(35, 85, 90, 1) 100%
  );

  position: relative;

  overflow-y: hidden;

  > .Header__Text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-family: bookAntiqua;

    h1 {
      font-size: 10rem;
      letter-spacing: 1rem;

      background: -webkit-linear-gradient(
        320deg,
        rgba(236, 210, 140, 1) 0%,
        rgba(201, 169, 71, 1) 50%,
        rgba(236, 210, 140, 1) 100%
      );

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      filter: drop-shadow(20px 20px 20px black);
    }

    h2 {
      font-size: 5rem;
      letter-spacing: 1rem;

      background: -webkit-linear-gradient(
        320deg,
        rgba(236, 210, 140, 1) 0%,
        rgba(201, 169, 71, 1) 50%,
        rgba(236, 210, 140, 1) 100%
      );

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      filter: drop-shadow(20px 20px 20px black);
    }

    > img {
      position: absolute;

      left: -12rem;
      top: 10rem;

      width: 500px;
    }
  }

  > .OurTeam {
    position: absolute;
    bottom: 2rem;
    right: 2rem;

    display: flex;
    gap: 2rem;

    a {
      color: white;

      font-family: "Domine", serif;
      font-size: 1.5rem;

      text-decoration: none;
      text-align: center;

      transition: all 0.3s ease-in-out;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &::after {
        content: "";

        height: 0.2rem;
        width: 0%;

        background-color: $gold;

        transition: all 0.3s ease-in-out;
      }

      &:hover {
        color: $gold;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}
