.Navbar {
  width: 100%;

  padding: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  > .Navbar__Home {
    display: flex;

    gap: 3rem;

    > div {
      > a {
        color: white;

        text-decoration: none;

        font-size: 1.5rem;

        font-family: "Domine", serif;
      }
    }
  }

  > .Navbar__Links {
    display: flex;

    gap: 3rem;

    > div {
      > a {
        color: white;

        text-decoration: none;

        font-size: 1.5rem;

        font-family: "Domine", serif;
      }
    }
  }
}
