@import "../../variables";

@font-face {
  src: url("../../../public/fonts/BookAntiqua.ttf");
  font-family: bookAntiqua;
}

.Navbar {
  width: 100%;

  padding: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  > .Navbar__Home {
    display: flex;

    gap: 3rem;

    > a {
      color: white;

      text-decoration: none;

      font-size: 1.5rem;
      font-family: bookAntiqua;
    }
  }

  > .Navbar__Links {
    display: flex;

    gap: 3rem;

    > a {
      color: white;

      text-decoration: none;

      font-size: 1.5rem;
      font-family: bookAntiqua;

      transition: all 0.3s ease-in-out;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &::after {
        content: "";

        height: 0.1rem;
        width: 0%;

        background-color: $gold;

        transition: all 0.3s ease-in-out;
      }

      &:hover {
        color: $gold;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  .Navbar__Small {
    display: none;

    .Navbar__Small__Icon {
      width: 2rem;
      height: 2rem;

      color: white;
    }
  }

  @media screen and (max-width: 1000px) {
    .Navbar__Home {
      > a {
        font-size: 1.4rem;
      }
    }

    .Navbar__Links {
      > a {
        font-size: 1.4rem;
      }
    }
  }

  @media screen and (max-width: 700px) {
    .Navbar__Home {
      > a {
        font-size: 1.2rem;
      }
    }

    .Navbar__Links {
      > a {
        font-size: 1.2rem;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .Navbar__Links {
      display: none;
    }

    .Navbar__Small {
      display: block;
    }
  }
}
