@import "../../variables";

/* -- Main -- */
.contact_main {
  width: 75%;
  margin: 5rem 12.5%;

  display: flex;
  align-items: center;
  justify-items: center;

  .contact_left {
    width: 70%;

    > form {
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      p {
        margin: 0.5rem 0;
      }

      .contact_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem;
        width: 100%;

        .contact_inner_wrapper {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          width: 50%;

          > label {
            font-size: 1.1rem;
            margin: 0.4rem 0;
          }

          > input {
            width: 90%;
            padding: 1rem;
            border-radius: 0.5rem;
            border: none;
            background-color: rgba($darkGreen, 0.1);
            border: 2px solid rgba($darkGreen, 0.1);
            outline: none;
            transition: border 0.3s ease;
          }
        }
      }

      .contact_textarea {
        width: 100%;
        display: flex;
        flex-direction: column;

        font-family: inherit;

        > label {
          font-size: 1.1rem;
          margin: 0.6rem 0;
        }

        > textarea {
          width: 94.7%;
          padding: 1rem;
          border-radius: 0.5rem;
          border: none;
          background-color: rgba($darkGreen, 0.1);
          border: 2px solid rgba($darkGreen, 0.1);
          outline: none;
          transition: border 0.3s ease;
          height: 10rem;

          font-family: inherit;
        }
      }

      .contact_submit {
        width: 100%;

        > input {
          width: 15%;
          margin: 1.5rem 0;
          padding: 0.5rem 1rem;
          background-color: transparent;
          border-radius: 0.4rem;
          cursor: pointer;
          transition: background-color 0.3s ease-in-out;
        }
      }
    }
  }

  .contact_right {
    width: 30%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    text-align: center;

    .contact_right_section {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      margin: 1rem;

      width: 20%;
      min-width: 130px;

      > h2 {
        margin: 0.5rem;

        font-size: 2.3rem;
      }

      .contact_right_section_icon {
        background-color: rgba($darkGreen, 0.1);

        border-radius: 1rem;

        padding: 2rem;
        margin: 1rem;
      }
    }
  }

  @media screen and (max-width: 1200px) {
    width: 90%;
    margin: 0 5%;
  }

  @media screen and (max-width: 800px) {
    flex-direction: column;

    .contact_left {
      width: 100%;
      margin: 0;

      > form {
        .contact_submit {
          > input {
            width: 100%;
          }
        }
      }
    }

    .contact_right {
      width: 90%;
      margin: 0;
      flex-direction: row;
      gap: 5rem;

      .contact_right_section {
        min-width: 130px;
        min-height: 300px;

        margin: 0;
        justify-content: flex-start;

        .contact_right_section_icon {
          width: 150px;
          height: 150px;
        }
      }
    }
  }
}

/* -- Asterix -- */
.asterix {
  color: red;
}

@media screen and (max-width: 1100px) {
  .contact_left {
    width: 80%;
  }

  .contact_right {
    width: 20%;
    margin-right: 5%;
  }
}

@media screen and (max-width: 500px) {
  .contact_right {
    flex-direction: column;
  }
}
