@import "../../variables";

.Footer {
  width: 75%;

  margin: 2% 12.5%;
  padding: 5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  background-color: rgba($darkGreen, 0.1);
  border-radius: 1rem;

  @media screen and (max-width: 1200px) {
    width: 90%;

    margin: 2% 5%;
  }

  @media screen and (max-width: 860px) {
    .Name {
      margin-bottom: 2rem;
    }

    .SectionRight {
      width: 100%;
    }
  }

  > .Name {
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 3rem;

      @media screen and (max-width: 1400px) {
        font-size: 2.5rem;
      }

      @media screen and (max-width: 1200px) {
        font-size: 2rem;
      }
    }
  }

  > .SectionRight {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2rem;

    .Links {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      gap: 0.5rem;

      font-weight: bold;
    }

    .Chat {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      gap: 0.5rem;

      font-weight: bold;

      .Chat__Socials {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 1rem;

        > * {
          width: 3rem;
          height: 3rem;

          padding: 0.4rem;

          color: $gold;

          border-radius: 50%;
          border: 0.2rem solid $gold;

          @media screen and (max-width: 900px) {
            width: 2.5rem;
            height: 2.5rem;
          }
        }
      }
    }
  }
}
