@import "../../variables";

.AboutMain {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;

  > .Values {
    width: 75%;
    margin: 0 12.5%;
    margin-top: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    .Value {
      flex: 1;

      margin-top: 2rem;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;

      padding: 2rem;
      border-radius: 1rem;

      background-color: rgba($darkGreen, 0.05);

      .Value__Icon {
        width: 4rem;
        height: 4rem;

        color: $gold;
      }

      h3 {
        font-size: 2rem;
      }

      p {
        text-align: center;
        font-size: 1.2rem;
      }
    }
  }

  > .Philosophy {
    width: 75%;
    margin: 0 12.5%;

    text-align: center;

    h2 {
      font-size: 5rem;
    }

    p {
      font-size: 1.2rem;
    }
  }

  > .Mission {
    width: 100%;

    background-color: $darkGreen;
    color: white;

    padding: 10rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .MissionWrapper {
      width: 75%;

      h2 {
        font-size: 5rem;
      }

      p {
        font-size: 1.2rem;
        margin: 1rem 0;
      }
    }
  }

  > .Honour,
  > .Commitment {
    width: 75%;
    margin: 0 12.5%;

    text-align: center;

    h2 {
      font-size: 5rem;
    }

    p {
      font-size: 1.2rem;
    }
  }

  > .Team {
    width: 75%;
    margin: 0 12.5%;

    h2 {
      font-size: 5rem;
      text-align: center;
    }

    .TeamWrapper {
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 3rem;

      .TeamMember {
        max-width: 350px;

        display: flex;
        flex-direction: column;

        cursor: pointer;

        img {
          width: 100%;
        }

        h3 {
          margin-top: 1rem;
          font-size: 1.5rem;
        }

        p {
          color: grey;
        }

        &:hover {
          background-color: #f9f9f9;
        }
      }
    }
  }
}
